body {
  /* background-color: #EFEAEA; */
  margin: 0;
  background: repeating-linear-gradient(
  180deg,
  #303030,
  #303030 2px,
  #303030f7 2px,
  #303030f7 4px
);
height: 100vh;
}

  /* html {
    background: repeating-conic-gradient(#303030ef 0% 10%, #303030 0% 100%) 
                50% / 5px 5px;
    background-attachment: fixed;
  } */

header {
  /* background-color: #303030; */
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.icon {
  height: 20px;
}

