body {
  background-color: #EFEAEA;
  background-color: #3030303c;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  max-width: 700px;
}



.heading {
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: #303030 solid 10px;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header img {
  width: 20px;
  border: none;
}


main {
  max-width: 900px;
  margin: auto;
}
.log {
  margin: 20px auto;
}


.color-code {
  display: flex;
  justify-content: space-between;
}




.blockers h3,
.no-blockers h3,
.doing h3,
.did h3 {
  margin: 0;
}

.did {
  color: #303030;
}

.blockers, 
.no-blockers {
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.blockers {
  background-color: rgb(193, 88, 88);
}

.no-blockers {
  background-color: rgba(0, 128, 0, 0.704);
}

.doing {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.807);
}

.daily-log-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 100px auto;
}

.the-content {
  padding: 0px 10px;
}

a {
  color: #303030;
}

a:hover {
  color: grey;
  text-decoration: none;
}

.active {
  text-decoration: none;
}

.active:hover {
  color: #303030;
}

h3 {
  padding-top: 10px;
}

.success {
  color: green;
  font-weight: 600;
}

img {
  width: 100%;
  border: 1px solid #303030;
  margin: 10px 0;
  cursor: pointer;
}

footer {
  background-color: #303030;
  padding: 20px;
}

@media only screen and (max-width: 930px) {
  main {
  margin: 0 20px;
  }
  .color-code {
    flex-direction: column;
  }
}