html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F6EEEE;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs {
  list-style: none;
  cursor: pointer;
}

.page {
  display: none;
}

.is-active {
  display: block;
}

.tab.is-active a {
  color: red;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p {
  cursor: pointer;
}

.preview {
  width: 50px;
}

.no-display {
  display: none;
}

.header__admin {
  border-bottom: #303030 1px solid;
  width: 95%;
  margin: auto;
}

.header__admin__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__admin__menu__div__nav__ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__admin__menu__div__nav__ul--li {
  margin: 0 5px;
}

.header__admin__menu__div__nav__ul--li__a {
  text-decoration: none;
  color: #303030;
}

.header__admin__menu__div__nav__ul--li__a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.main__admin,
.main__public {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 95%;
  margin: auto;
}

.main__admin__h1,
.main__admin__h2,
.main__admin__h3 {
  color: #C15841;
}

.main__admin__div__dynamic-page-section--tabs {
  list-style: none;
  cursor: pointer;
}

.main__admin__div__dynamic-page-section--tab {
  background-color: #c1594184;
  width: 100px;
  border-radius: 2px;
  color: white;
  -webkit-box-shadow: #a49191 1px 1px 10px;
          box-shadow: #a49191 1px 1px 10px;
  text-align: center;
  margin: 10px;
}

.main__admin__div__page__product-list__a__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: #303030 solid 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border-bottom {
  border-bottom: #303030 solid 1px;
}

.main__admin__div__dynamic-page-section--tab.is-active {
  background-color: #C15841;
}

.main__admin__div__page__product-list__a__div:hover {
  background-color: #c1594184;
}

.main__admin__div__page__product-list__a__div p,
.main__admin__div__page__product-list__a__div a {
  padding: 30px;
  color: #303030;
}

.main__admin__div__page__product-list__a__div img {
  padding-left: 30px;
}

a {
  text-decoration: none;
}

.footer__admin {
  background-color: #303030;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__private {
  background-color: black;
  color: white;
}

.footer__admin__div__ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
  margin: 0;
}

.footer__admin__div__h4 {
  margin: 0;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */