@import "partials/variables";
@import "partials/base";
@import "partials/typography";
@import "partials/home";
@import "partials/clientNav";
@import "partials/productSpecific";
@import "partials/loader";
@import "partials/login";
@import "partials/headerAdmin";

.tabs {
  list-style: none;
  cursor: pointer;

}

.page {
  display: none;
}

.is-active {
  display: block;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.preview {
  width: 50px;
}

.no-display {
  display: none;
}





//Welcome

//Products

//General


.warning,
.success {
  border-radius: 4px;
  color: getColor(white);
  padding: 2px;
}

.warning {
  background-color: getColor(peach);
 
}

.success {
  background-color: getColor(successGreen);
}


.main__admin__div__dynamic-page-section--tabs {
  margin-bottom: 60px;
  list-style: none;
  cursor: pointer;
}

.main__admin__div__dynamic-page-section--tab {
  background-color: getColor(softPeach);
  width: 100px;
  border-radius: 2px;
  color: getColor(white);
  box-shadow: getColor(smokeyGrey) 1px 1px 10px;
  text-align: center;
  margin: 10px;
}



.main__admin__div__page__product-list__a__div {
  display: flex;
  justify-content: space-between;
  border-top: getColor(peach) solid 1px;
  align-items: center;
  // max-width: 1000px;
  // margin: auto;
}

.border-bottom {
  border-bottom: getColor(dark30) solid 1px;

}

.main__admin__div__dynamic-page-section--tab.is-active {
background-color: getColor(peach);
}


.main__admin__div__page__product-list__a__div:hover {
  background-color: getColor(softPeach);
  background-color: getColor(smudgeBlack);
  background-color: getColor(smudgedPeach);

}

.main__admin__div__page__product-list__a__div p,
.main__admin__div__page__product-list__a__div a
 {
  padding: 30px;
  color: getColor(dark30);
  color: getColor(peach);
}

.main__admin__div__page__product-list__a__div img {
  padding-left: 30px;
}


a {
  text-decoration: none;
}

// .main__admin__div__dynamic-page-section--tab.is-active a {
//   box-sha
// }

//Add

.main__admin__div__page__add--product,
.main__admin__div__page__edit--product {
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: space-around;
  padding: 0 60px 60px 60px;
  // flex-direction: column;
}

.main__admin__div__page__add--product__div,
.main__admin__div__page__edit--product__div {
  display: flex;
  margin: 0 10px;
  // width: 400px;
  width: 100%;
  justify-content: center;

}


.main__admin__div__page__add--product__div__form__div,
.main__admin__div__page__edit--product__div__form__div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form__container div{
  max-width: 800px;
  width: 100%;
}
.main__admin__div__page__add--product__div__form__div--featured-and-add,
.main__admin__div__page__add--product__div__form__div--featured-save-delete {
  display: flex;
  // justify-content: space-between;
  // flex-direction: row;
}

.main__admin__div__page__add--product__div__form__div--featured-and-add__button--div,
.main__admin__div__page__add--product__div__form__div--featured-save-delete__button--div {
  display: flex;
  justify-content: space-around;
}

.main__admin__div__page__add--product__div__form__div__label,
.main__admin__div__page__add--product__div__form__div__input,
.main__admin__div__page__add--product__div__form__div__input--checkbox,
.main__admin__div__page__edit--product__div__form__div__label,
.main__admin__div__page__edit--product__div__form__div__input,
.main__admin__div__page__edit--product__div__form__div__input--checkbox {
  color: getColor(peach);
  font-weight: 400;
  // z-index: 10;
}

.main__admin__div__page__add--product__div__form__div__button {
  border:  getColor(peach) 2px solid;
  cursor: pointer;
  color: getColor(white);
  margin: 2px 2px;
  width: 80px;
  padding: 2px;
  border-radius: 2px;
  background-color:  getColor(smudgedPeach);
  font-weight: 400;
  color: getColor(peach);
}

.main__admin__div__page__add--product__div__form__div__button:hover {
  background-color:  getColor(peach);
  color: getColor(white);
}

.main__admin__div__page__add--product__div__form__div__input,
.main__admin__div__page__add--product__div__form__div__textarea,
.main__admin__div__page__edit--product__div__form__div__textarea {
  border:  getColor(peach) 1px solid;
  max-width: 270px;
  width: 100%;
  font-size: 1.2rem;
}

.main__admin__div__page__add--product__div__form__div__textarea,
.main__admin__div__page__edit--product__div__form__div__textarea {
  max-width: 500px;
  width: 100%;
  height: 175px;
  color:  getColor(peach);
  font-family: getFont(primary);
}

.main__admin__div__page__add--product__div__form__div__label--image {
  border:  getColor(peach) 1px solid;
  background-color: getColor(white);
  width: 100px;
  color:  getColor(peach);
  text-align: center;
  padding: 4px;
  cursor: pointer;
  box-shadow:  getColor(smokeyGrey) 1px 1px 10px;
}
.main__admin__div__page__add--product__div__form__div__label--image:hover {
  background-color:  getColor(smokeyWhite);
}


input[type="file"] {
  display: none;
}


#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px; 
  height: 400px; 
  background-size: cover; 
  background-position-x: center;
  background-position-y: center; 
  background-repeat: no-repeat;
  border-radius: 2px;
}

.displayPlaceholder {
  color:  getColor(peach);
}

.featured-products-section,
.products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
  gap: 30px;
  margin-bottom: 200px;
}
.product-card {
  width: 220px;
}

.product-image {
  background-position-x: center;
  background-position-y: center;
  margin-bottom: 20px;
  height: 380px; 
}

.product-information h3,
.product-information p {
  font-size: 1rem;
  color: getColor(white);
}

.product-information h3:hover {
  text-decoration: underline;
}

.product-button {
  background-color: getColor(successGreen);
  padding: 4px 10px;
  text-align: center;
  width: 100px;
  border-radius: 4px;
  text-transform: uppercase;
  margin: 0 2px;
}

.product-button:hover {
  // box-shadow: getColor(smokeyGrey) 1px 1px 5px 2px;
  // box-shadow: getColor(softPeach) 1px 1px 5px 2px;
  background-color: getColor(hoverGreen);
  background: darken(getColor(successGreen), 28%);
}

.product-button-div {
  display: flex;
  justify-content: center;
  color: getColor(white);
}

.commercial {
  background-image: url("../images/queens-gambit-1-e1606160896388.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
}

.commercial h3 {
  color: getColor(white);
  font-size: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  width: 80vw;
  margin: auto;
}

.menu-container-public {
  text-align: right;
  padding: 10px;
}
.menu-container-public a{
  color: getColor(white);
  margin: 10px;
}

.category-banner {
  // height: 50px;
  width: 100%;
  background-color: getColor(peach);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  // display: none;
}

.category-banner div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category-banner-div {
  cursor: pointer;
  background-color: getColor(white);
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin: 10px;
  justify-content: flex-start;
}

.category-banner-div p {
  color: getColor(dark30);
  color: #9F3721;
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 15px;
  font-weight: 600;
}

.heading {
  color: getColor(white);
}

.client__main__content,
.client__main__content--product__specific {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.client__main__content {
  padding-top: 100px;
}

.client__main__content--product__specific {
  padding-top: 50px;
}

// .product-image {
//   border: #9F3721 1px solid;
// }

.input-section {
  max-width: 1000px;
  margin: auto;
}

@media only screen and (max-width: 638px) {
  .main__admin__div__page__add--product,
.main__admin__div__page__edit--product {
  flex-direction: column-reverse;
  padding: 40px;
  align-items: center;
}

}

@media only screen and (max-width: 510px) {

  .category-banner {
  flex-wrap: wrap;

  }
  .category-banner div {
    flex-wrap: nowrap;
  }

  .featured-products-section,
  .products-section  {
  gap: 5px;
}
  .featured-products-section {
    max-width: 270;
  }
  .product-card, .product-image {
    max-width: 170px;
  }

  .product-image {
    height: 300px;

  }

}

.content {
  background-color: getColor(white);
  padding: 40px;
  display: flex;
  margin: 20px 20px 100px 20px;
  border-radius: 4px;
  height: 300px;
}

.cart__container {
  border: getColor(white) 10px solid;
  max-width: 1200px;
  width: 80%;
  margin: 40px auto;
}



.cart__container__image div {
  width: 50px; 
  height: 80px; 
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.cart__container__image--image {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.cart__container__items div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 0;
}

.cart__container__items--link {
  color: getColor(white);
  font-size: 1.4rem;
}

.cart__container__image,
.cart__container__items {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.no-items-in-cart {
  color: getColor(white);
  height: 70vh;
  font-size: 1.6rem;
  margin-top: 200px
}
