input#hamburger-menu {
  display: none;
}

label {
  cursor: pointer;
}

#hamburger-menu:checked ~ .client__header__div__nav {
  display: block;
}

.client__header__div__nav {
  display: none;
  position: absolute;
  top: 30px;
  left: 80px;
}

.client__header__div__nav__ul {
  list-style: none;
  display: flex;
  // flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
}

.client__header__div__nav__ul__li {
  padding: 0 5px;
}

.client__header__div__nav__ul__li__a {
  color: white;
  font-size: 1.4rem;
}

.client__header__div__nav__ul__li__a.active {
  background-color: getColor(peach);
  // padding: 0 5px;
}

@media only screen and (max-width: 1075px)  {
.client__header__div__nav__ul {
  // flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.client__header__div__nav {
  position: absolute;
  background: repeating-linear-gradient(
    65deg,
    #303030,
    #303030 2px,
    #303030 2px,
    #303030f7 4px
  );
  // background-color: getColor(dark30);
  top: 95px;
  left: 0px;
  width: 100%;
}

.client__header__div__nav__ul__li__a {
  color: getColor(peach);
  font-size: 1rem;;

}

.client__header__div__nav__ul__li__a.active {
  color: white;
}

.hero-banner {
  font-size: 0.2rem;
}

.category-banner {
  display: none;
}

}