// ADMIN FONTS AND COLORS
@function getFont($font) {
  @return map-get($fonts, $font);
}

$fonts: (
  headings: sans-serif,
  primary: sans-serif
);

@function getColor($color) {
  @return map-get($colors, $color);
}

$colors: (
  smokeyWhite: #F6EEEE,
  dark30: #303030, 
  white: white,
  peach: #C15841,
  softPeach: #c1594184,
  smokeyGrey: #a49191,
  smudgedBlack: #30303021,
  smudgedPeach: #c159411b,
  successGreen: #849B84,
  hoverGreen: #3d523d,
  black: black
);


